// пример использования media (breakpoints в верху файла)
body {
	@include media ('>=tablet') {

	}

	@include media ('>=desktop') {

	}
}

.wrapper {
	overflow: hidden;
	position: relative;
}

.container {
	max-width: 1281px;
	margin: 0 auto;
	padding: 0 15px;
}

img{

}

// Обертка для полей формы

.form-group {
	margin-bottom: 15px;
}

// Поля формы

.form-control {
	display: block;
	width: 100%;
	padding: 10px 15px;
}

.form-control {
	@include placeholder {

	}

	&:focus {

	}
}

.grid {
	img {
		display: block;
		width: 100%;
	}
}

.content-box{
	display: flex;
}

.article{
	width: 70%;
	margin-bottom: 20px;
}

.aside{
	width: 30%;
	padding-left: 60px;
}

.breadcrumbs{
	margin-bottom: 85px;
}

.watch-class{
	li{
		list-style: none;
		a{
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}
}

.section{
	margin-bottom: 90px;
	img{
		margin-bottom: 40px;
	}

	h4{
		font-size: 20px;
	}

	p{
		margin-bottom: 38px;
	}
}