// пример использования media (breakpoints в верху файла)
body {
	@include media ('>=tablet') {
		background-color: $base-background-colorwhite;
	}

	@include media ('>=desktop') {
		background-color: $base-background-colorwhite;
	}
}

.wrapper {
	overflow: hidden;
	position: relative;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

// Обертка для полей формы

.form-group {
	margin-bottom: 15px;
}

// Поля формы

.form-control {
	display: block;
	width: 100%;
	padding: 10px 15px;
}

.form-control {
	@include placeholder {

	}

	&:focus {

	}
}

.grid {
	img {
		display: block;
		width: 100%;
	}
}